.myview{
    background-image: url('https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
}