<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="justify-content: center; display: flex;">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="myview">

  <ion-card>
    <ion-card-content>
      <ion-card-title style="text-align: center;">
        ¡Bienvenido!
      </ion-card-title><br>
      <img src="https://www.puntos.themeatpack.com/img/logo.png" />
      <p style="padding-top: 10px;" style="justify-content: center; display: flex;">Ingresa tus datos para poder comprar en PackMeat.</p>
    </ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" href="/home">Login</ion-button>
    </div>
    <div padding>
    <a style="justify-content: center; display: flex;" href="https://www.google.com/">
      ¿Haz olvidado tu contraseña?
    </a>
  </div>
  <div padding >
    <label style="justify-content: center; display: flex;">¿No tienes una cuenta aún?</label>
    <ion-button style="justify-content: center; display: flex;" color="danger" href="/register">¡Registrate Aqui!</ion-button>
  </div>
    <div padding style="align-items: center; display: flex; justify-content: center;">
    <ion-button color="light"><ion-icon name="logo-facebook"></ion-icon> </ion-button>
    <ion-button color="light"><ion-icon name="logo-twitter"></ion-icon></ion-button>
    <ion-button color="light"><ion-icon name="logo-google"></ion-icon></ion-button>
    <ion-button color="light"><ion-icon name="logo-instagram"></ion-icon></ion-button>
    <ion-button color="light"><ion-icon name="logo-vimeo"></ion-icon></ion-button>
  </div>
  </ion-card>

</ion-content>